<!-- JavaScript Section -->
    <link rel="stylesheet" type="text/css" href='/Content/footer.css' />
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
     <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

<!-- Footer  -->
<div class="navbar">
         <ul class="blog-nav">
            <div class="navbar-text pull-left">
                <p>Developed by Mansi Patel</p>
            </div>
<div class="navbar-text pull-right">
            
            <a href="https://github.com/mansipatel108">
                <i class="fa fa-github fa-2x"></i></a>
</ul>
            </div>
    
        
</div>

</body>
</html>
