 <% include partials/header.ejs %>
 <link rel="stylesheet" type="text/css" href='/Content/about.css' />
 
 <!-- Section  -->
 <div class="aboutme">
 <section id="about" class="about">
        <div class="about">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>About Me...</h2>
                    <hr class="small">
                    </div>
                    </div>
                    </div>
                    </section>
                    
<!-- About me Paragraph  -->
 <p>I am a student currently studying at Georgian College, Barrie, ON in a Computer Programmer (COPR) diploma program and
     seeking a professional position in an organization to dedicate myself to the IT field as a keystone member 
     of the team while continuing my education to further improve my performance in the workplace.
<br><br>
My abilities to troubleshoot software problems, work as a team player, and meet deadlines combined with my attention to
 detail would contribute to my success in your company.
 I possess web programming skills and MySQL, knowledge and experience of working with C#, HTML5, CSS, PHP, JavaScript(Nodejs, Expressjs, Angularjs), Bootstrap, API’s,
  business writing skills, outstanding knowledge of Microsoft Office including Access and FTP. 
  I also have intermediate skills in Photoshop, Flash, and excellent in use of Dreamweaver. I work well with others to provide information and give  solutions to potential and existing issues in a problem solving manner.
   My outgoing and friendly nature allows me to interact well with other individuals at all levels and I am able to bridge the gap between technical and non-technical persons. I’m willing to work and learn more UI, digital marketing and front-end development.
<br><br>
I feel confident that, given the opportunity, 
I can make an immediate contribution to your corporation. The enclosed <a href="http://gc200303640.computerstudi.es/resume/resume.html">
Resume</a> summarizes my background and experience information.
 Thank you for your consideration, I am available to discuss further prospects at your convenience.
</p>
</div>
    


<% include partials/footer.ejs %>