<% include partials/header.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href='/Content/index.css' />

<!-- Heading  -->
 <div class="header"> MANSI PATEL </div>
 
 <div class="header2">
 <p class="css-typing">
      WEB DEVELOPER <br>
    WEB DESIGNER <br>
      CODER <br>
        </p> 
      </div>
     

<br><br><br>
<% include partials/footer.ejs %>