<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href='/Content/projects.css' />

<!-- Section -->
<section id="projects" class="projects">
        <div class="projects">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>My Projects...</h2>
                    <hr class="small">
                </div>
            </div>
        </div>
</section>
<!--Project Links and Images -->
                    <div class="col-md-4 col-sm-6">
                     <a href="http://gc200303640.computerstudi.es/Adental/home.html">
                     <img src="images/pro5.jpg" class="img-circle" align="left"  width="250" height="250">
                      <p>Dental Office Website using HTML, CSS, JavaScripts Libraries, Jquery Libraries, Bootstrap. (Co-op)</p>
                     </a>
                     </div>
                     
                    <div class="col-md-4 col-sm-6">
                    <a href="http://gc200303640.computerstudi.es/portfolio/home.html">
                    <img src="images/pro2.jpg" class="img-circle" align="left"  width="250" height="250">
                     <p>Portfolio Website using HTML, CSS, Bootsrap.</p>
                    </a> 
                    </div>
                      
                      <div class="col-md-4 col-sm-6">
    		          <a href="http://gc200303640.computerstudi.es/Project1/home.html">
                     <img src="images/pro3.jpg" class="img-circle" align="left" width="250" height="250">
                     <p>Vintage Car Website using HTML, CSS.</p>
                     </a> 
                     </div>
                      
                      <div class="col-md-4 col-sm-6">
                       <a href="http://gc200303640.computerstudi.es/resume/resume.html">
                     <img src="images/pro4.jpg" class="img-circle" align="left" width="250" height="250">
                      <p>Resume using Dreamweaver.</p> 
                      </a>
                     </div>
                      
                      <div class="col-md-4 col-sm-6">
                     <a href="http://gc200303640.computerstudi.es/php/lesson12/login.php">
                     <img src="images/pro1.jpg" class="img-circle" align="left" width="250" height="250">
                     <p>Student Registration App usind PHP.</p> 
                     </a> 
                     </div>
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     <% include partials/footer.ejs %>
                       
                       
 